.my-products {
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      width: 175px;
      list-style-type: none;
      background-color: #f3f3f3;
      img {
        width: 100%;
        height: 165px;
        object-fit: cover;
      }
    }
  }
}
