@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  * {
    font-family: "Roboto", sans-serif;
  }
}
a {
  text-decoration: none;
  color: #454545;
}
.main-width {
  width: calc(100% - 20px);
  margin: 0 auto;
  position: relative;
  max-width: 1240px;
}
